<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>SvtCrearEvento</servlet-name>
        <servlet-class>Servlets.SvtCrearEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCrearEvento</servlet-name>
        <url-pattern>/SvtCrearEvento</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtRegistro</servlet-name>
        <servlet-class>Servlets.SvtRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtRegistro</servlet-name>
        <url-pattern>/SvtRegistro</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtCrearCabania</servlet-name>
        <servlet-class>Servlets.SvtCrearCabania</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCrearCabania</servlet-name>
        <url-pattern>/SvtCrearCabania</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtCrearReserva</servlet-name>
        <servlet-class>Servlets.SvtCrearReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCrearReserva</servlet-name>
        <url-pattern>/SvtCrearReserva</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtCrearUsuario</servlet-name>
        <servlet-class>Servlets.SvtCrearUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCrearUsuario</servlet-name>
        <url-pattern>/SvtCrearUsuario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtLogin</servlet-name>
        <servlet-class>Servlets.SvtLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtLogin</servlet-name>
        <url-pattern>/SvtLogin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtEditarReserva</servlet-name>
        <servlet-class>Servlets.SvtEditarReserva</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtEditarReserva</servlet-name>
        <url-pattern>/SvtEditarReserva</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtEditarCabania</servlet-name>
        <servlet-class>Servlets.SvtEditarCabania</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtEditarCabania</servlet-name>
        <url-pattern>/SvtEditarCabania</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtEditarEvento</servlet-name>
        <servlet-class>Servlets.SvtEditarEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtEditarEvento</servlet-name>
        <url-pattern>/SvtEditarEvento</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtCambiaContrasenia</servlet-name>
        <servlet-class>Servlets.SvtCambiaContrasenia</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCambiaContrasenia</servlet-name>
        <url-pattern>/SvtCambiaContrasenia</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtBuscarPersona</servlet-name>
        <servlet-class>Servlets.SvtBuscarPersona</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtBuscarPersona</servlet-name>
        <url-pattern>/SvtBuscarPersona</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtConsultarReservaAnio</servlet-name>
        <servlet-class>Servlets.SvtConsultarReservaAnio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtConsultarReservaAnio</servlet-name>
        <url-pattern>/SvtConsultarReservaAnio</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtReservasFiltros</servlet-name>
        <servlet-class>Servlets.SvtReservasFiltros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtReservasFiltros</servlet-name>
        <url-pattern>/SvtReservasFiltros</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtCancelar</servlet-name>
        <servlet-class>Servlets.SvtCancelar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCancelar</servlet-name>
        <url-pattern>/SvtCancelar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtAprobar</servlet-name>
        <servlet-class>Servlets.SvtAprobar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtAprobar</servlet-name>
        <url-pattern>/SvtAprobar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtRechazar</servlet-name>
        <servlet-class>Servlets.SvtRechazar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtRechazar</servlet-name>
        <url-pattern>/SvtRechazar</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtActivarUsuario</servlet-name>
        <servlet-class>Servlets.SvtActivarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtActivarUsuario</servlet-name>
        <url-pattern>/SvtActivarUsuario</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtSuspenderCabania</servlet-name>
        <servlet-class>Servlets.SvtSuspenderCabania</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtSuspenderCabania</servlet-name>
        <url-pattern>/SvtSuspenderCabania</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtCambiarEstadoEvento</servlet-name>
        <servlet-class>Servlets.SvtCambiarEstadoEvento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCambiarEstadoEvento</servlet-name>
        <url-pattern>/SvtCambiarEstadoEvento</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtCrearLocacion</servlet-name>
        <servlet-class>Servlets.SvtCrearLocacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtCrearLocacion</servlet-name>
        <url-pattern>/SvtCrearLocacion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SvtEventosFiltros</servlet-name>
        <servlet-class>Servlets.SvtEventosFiltros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SvtEventosFiltros</servlet-name>
        <url-pattern>/SvtEventosFiltros</url-pattern>
    </servlet-mapping>


</web-app>